.container {
    color: white;
    text-align: center;
    padding: 5px 5px;
    width: 90%;
    font-family: 'Caveat', cursive;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}
.container h2.heading {
    font-size: 40px;
    font-weight: 500;
}
.form-group > label {
    font-size: 24px;
}
form  input, textarea {
    width: 90%;
    margin: auto;
}