<div class="details">
    <h6 class="card-footer mb-2 ">Author: {{quora.author}}  <span id="time">Posted: {{quora.datePosted | dateCount}} days ago.</span></h6>
    <div class="container-fluid" id="buttons">
        <button class="btn btn-sm btn-success" (click)="upvote()">{{quora.likes}} <i class="bi bi-hand-thumbs-up"></i></button>
        <button class="btn btn-sm btn-warning hate" (click)="downvote()">{{quora.dislikes}} <i class="bi bi-hand-thumbs-down"></i></button>
        <button class="btn btn-sm btn-danger del" (click)="deleteQuote(true)"><i class="bi bi-trash"></i></button>
    </div>
    </div>
        
