.first {
    text-align: center;
    color: black;
   margin-top: 3%;
    font-family: 'Poppins', sans-serif;
    background-color: blueviolet;
    margin-left: 3%;
    margin-right: 3%;

}

.all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    margin-bottom: 5%;
    width: 35%;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(83, 110, 83);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    margin-top: 3%;
    padding: auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color:black;

    

}
#qb {
    float: right;
    border-radius: 15px;
}
.see {
    margin-bottom: 2%;
}
span#name {
    font-weight: 600;
}
